.wrapper {
  margin: 1rem 0;
}
.label {
  font-size: x-large;
  margin-bottom: 0.5rem;
}
.answer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.answer-wrapper a {
  text-decoration: none;
  margin: 0.5rem;
}
.answer-wrapper a span {
  padding: 0.5rem;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 0.25rem;
}
.answer-wrapper a span.hover {
  display: none;
}
.answer-wrapper a:hover span.base {
  display: none;
}
.answer-wrapper a:hover span.hover {
  display: inline;
}
.builder-error {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem;
}
