.wrapper {
  margin: 1rem 0;
}
.label {
  font-size: x-large;
  margin-bottom: 0.5rem;
  color: #54698d;
}
.stars-outer-wrapper {
  margin: auto;
  text-align: center;
}
.stars-inner-wrapper {
  display: inline-block;
  direction: rtl;
}
.stars-inner-wrapper a {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  text-align: center;
  color: #0176d3;
  text-decoration: none;
  border: 1px solid transparent;
<<<<<<< HEAD
}
.stars-inner-wrapper a:hover {
  color: #ffffff;
  border: 1px solid #014486;
  border-radius: 2rem;
  background-color: #0176d3;
}
=======
}
.stars-inner-wrapper a:hover {
  color: #ffffff;
  border: 1px solid #014486;
  border-radius: 2rem;
  background-color: #0176d3;
}
>>>>>>> 22ecf795b34606cfba375b97f90c9fd38e3d28cd
