.rating-inputs {
  display: flex;
}
.hidden-radio {
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0 -9999px 0 0;
  float: right;
  position: absolute;
}
input:focus + .button {
  outline: Highlight auto 2px;
  outline: -webkit-focus-ring-color auto 5px;
}
.button {
  height: 50px;
  width: 50px;
  border: 5px solid #fff;
  box-shadow: inset 0 0 0 3px white;
  font-size: 2rem;
  text-align: center;
}
.button:hover,
input:focus + .button {
  border-color: #ccc;
}
input:checked + .button {
  border-color: #000;
}
.form-control {
  text-align: center;
  padding: 1rem;
}
