.wrapper {
  margin: 1rem 0;
}
.label {
  font-size: x-large;
  margin-bottom: 0.5rem;
}
.stars-outer-wrapper {
  margin: auto;
  text-align: center;
}
.stars-inner-wrapper {
  display: inline-block;
}
.stars-inner-wrapper a {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
}
.stars-inner-wrapper span {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.stars-inner-wrapper a span.hover {
  border-radius: 2rem;
  display: none;
}
.stars-inner-wrapper a:hover span.base {
  display: none;
}
.stars-inner-wrapper a:hover span.hover {
  display: inline-block;
}
